<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket</title>
</head>
<body>
    <h4>Logs for the Build will Come Here...</h4>
    <br>
    <div id="add_to_me"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
      var socket = io('http://localhost:5000');
      socket.on('connect', () => {
          console.log("Socket connected")
      });
      socket.on('eventLogs', (data) => {
          console.log(data)
          document.getElementById("add_to_me").innerHTML += `<p>${data}</p>`; 
      });
      socket.on('buildResult', (data) => {
          alert('Build Result is', data)
      });
      socket.on('disconnect', () => {
          console.log("Socket disconnected")
      });
    </script>
  
</body>
</html>